@page "/Blog/{id:int}"
@model LunaSite.Pages.BlogPostModel
@{
	ViewData["Title"] = Model.Post?.Title ?? "Blog Post";
}
<body>
	<a href="/Blog"><button class="simple-button">Back to Blog</button></a>
	<a href="/"><button class="simple-button">Home</button></a> <br />
<h1>@Html.Raw(Model.Post?.Title)</h1>
<p>@Html.Raw(Model.Post?.Content)</p>
<p><strong>Author: </strong>@Model.Post?.Author</p>
<p><strong>Published on: </strong>@Model.Post?.TimeStamp.ToString("dd MMM yyyy HH:mm:ss")</p>
@Html.Raw(Model.images)
</body>